<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="/static/css/article.css" rel="stylesheet" />
  </head>
  <body>
    <div id="wrapper">
      <header>
        <nav class="crumbs">
          <ol>
            <li class="crumb">
              <a href="/">Home</a>
            </li>
            <li class="crumb">Article</li>
          </ol>
        </nav>
      </header>
      <article>
        <header>
          <h1>{{ .Title }}</h1>
          <p class="subtitle">
            Published:
            <time datetime="{{ .DatePublished }}">
              {{ humanizeDate .DatePublished }}
            </time>
            {{ if (ne .DatePublished .DateModified) }} (edited :
            <time datetime="{{ .DateModified }}">
              {{ humanizeDate .DateModified }}
            </time>
            ) {{ end }}
          </p>
        </header>
        <main>{{ .Content }}</main>
      </article>
    </div>
  </body>
</html>
