<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My Personal Blog</title>
    <link href="/static/css/home.css" rel="stylesheet" />
  </head>
  <body>
    <h1>Articles</h1>
    <main>
      <nav>
        <ul>
          {{ range .Articles }}
          <li>
            <a href="article/{{.ID}}">
              <article>
                <h2>{{.Title}}</h2>
                <p>
                  Published:
                  <time datetime="{{ .DatePublished }}">
                    {{ humanizeDate .DatePublished }}
                  </time>
                </p>
              </article>
            </a>
          </li>
          {{ else }}
          <li>No articles yet...</li>
          {{ end }}
        </ul>
      </nav>
    </main>
  </body>
</html>
